<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>934399651328-m9opku91hrjn9n5soofi6qv4f08eg1ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934399651328-m9opku91hrjn9n5soofi6qv4f08eg1ds</string>
	<key>API_KEY</key>
	<string>AIzaSyAPR4Euk7pg4GcXwc95-t3Edx9p21mBD0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>934399651328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.tradershub</string>
	<key>PROJECT_ID</key>
	<string>traders-hub-7650c</string>
	<key>STORAGE_BUCKET</key>
	<string>traders-hub-7650c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:934399651328:ios:371e93ef00f14b14</string>
	<key>DATABASE_URL</key>
	<string>https://traders-hub-7650c.firebaseio.com</string>
</dict>
</plist>